body{
    background-color: cadetblue;
}


h1{
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

#operator{
    color: blanchedalmond;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(97, 146, 148);
    font-family: monospace;
}

h2{
    color: blanchedalmond;
    text-decoration: underline;
}

a{
    color: blanchedalmond;
    font-size: 26px;
}

ul{
    color: blanchedalmond;
    font-size: 20px;
}

img{
    display:inline-block;
    text-decoration: underline;
    color: blanchedalmond;
    
    
}

#marco {
    display: flex;
    justify-content: center;
}