body{
    background-color: cadetblue;
}


h1{
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

#operator{
    color: blanchedalmond;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(97, 146, 148);
    font-family: monospace;
}

h2{
    color: blanchedalmond;
    text-decoration: underline;
}

a{
    color: blanchedalmond;
    font-size: 26px;
}

ul{
    color: blanchedalmond;
    font-size: 20px;
}

img{
    display:inline-block;
    text-decoration: underline;
    color: blanchedalmond;
    
    
}

#marco {
    display: flex;
    justify-content: center;
}

#hover {
    background: transparent;
    box-sizing: border-box;
    border-radius: 0.6rem;
    align-self: center;
    font-size: 17px;
    font-weight: 400;
    margin: 20px;
    padding: 20px 40px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid aqua;

}
button:hover {
    color: aqua;
    box-shadow: 3px 3px 20px #03e9f4,
    3px 2px 20px #03e9f4;
}